package ${packagePath}.domain;

import com.wt.master.core.annotation.Id;
import com.wt.master.core.annotation.Table;
import com.wt.master.core.annotation.Transparent;
import com.wt.master.core.base.BaseEntity;
import lombok.Data;
import lombok.experimental.Accessors;

import java.io.Serializable;
import java.util.Date;

/**
 * ${moduleNameCN}实体
 *
 * @author
 * @date
 */
@Data
@Table(tableName = "${tableName}")
@Accessors(chain = true)
public class ${moduleName} extends BaseEntity {
#foreach($column in ${columnInfoList})
    /**
     * $column.Comment
     */
#if ($column.Column_key=="PRI")
    @Id(value = "$column.Name")
#end
    private $column.Type.JavaType $column.Name;
#end
}
